<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><a href="{{url_for('loginUser') }}">Login</a></p>
    <p><a href="{{url_for('registrationUser') }}">Registration</a></p>
    <p><a href="{{url_for('choicefunc', func='doSQLquery')}}">do SQL query</a></p>
    <div style="color:red">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</body>
</html>