<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
{% from "_formhelpers.html" import render_field %}
  <form method="post">
      {{render_field(form.username)}}
      <div class="container-fluid" style="min-height:100%;color:red">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible" role="alert" >
                {{message}}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      {{render_field(form.userpassword)}}
      {{render_field(form.useremail)}}
      {{render_field(form.userdateofbirth)}}
      <p><dd><input type=submit value=Register></dd></p>
  </form>
</body>
</html>